In [ ]:
# Question 1
# Create a function that takes a number as an argument and returns True or False depending
# on whether the number is symmetrical or not. A number is symmetrical when it is the same as
# its reverse.

# Question 2
# Given a string of numbers separated by a comma and space, return the product of the
# numbers.

# Question 3
# Create a function that squares every digit of a number.
# Notes
# The function receives an integer and must return an integer.

# Question 4
# Create a function that sorts a list and removes all duplicate items from it.

# Question 5
# Create a function that returns the mean of all digits.

In [1]:
def is_symmetrical(num):
    # Convert number to string
    num_str = str(num)
    # Reverse the string
    reversed_str = num_str[::-1]
    # Check if the original and reversed strings are the same
    return num_str == reversed_str

# Test cases
print(is_symmetrical(7227))     # ➞ True
print(is_symmetrical(12567))    # ➞ False
print(is_symmetrical(44444444)) # ➞ True
print(is_symmetrical(9939))     # ➞ False
print(is_symmetrical(1112111))  # ➞ True

True
False
True
False
True

In [7]:
def multiply_nums(nums_str):
    # Split the string by comma and space, and convert substrings to integers
    nums = [int(num) for num in nums_str.split(", ")]
    # Initialize the product to 1
    product = 1
    # Multiply all numbers in the list
    for num in nums:
        product *= num
    return product

# Test cases
print(multiply_nums("2, 3"))           # ➞ 6
print(multiply_nums("1, 2, 3, 4"))     # ➞ 24
print(multiply_nums("54, 75, 453, 0")) # ➞ 0
print(multiply_nums("10, -2"))          # ➞ -20

6
24
0
-20

In [8]:
def square_digits(num):
    # Convert the number to a string to iterate through its digits
    num_str = str(num)
    # Initialize an empty string to store the squared digits
    squared_digits = ""
    # Iterate through each digit in the string representation of the number
    for digit in num_str:
        # Square the digit and convert it back to a string
        squared_digit = str(int(digit) ** 2)
        # Concatenate the squared digit to the result string
        squared_digits += squared_digit
    # Convert the result string back to an integer and return it
    return int(squared_digits)

# Test cases
print(square_digits(9119)) # ➞ 811181
print(square_digits(2483)) # ➞ 416649
print(square_digits(3212)) # ➞ 9414

811181
416649
9414

In [9]:
def setify(lst):
    # Convert the list to a set to remove duplicates
    unique_elements = set(lst)
    # Convert the set back to a list and sort it
    sorted_list = sorted(unique_elements)
    return sorted_list

# Test cases
print(setify([1, 3, 3, 5, 5]))            # ➞ [1, 3, 5]
print(setify([4, 4, 4, 4]))                # ➞ [4]
print(setify([5, 7, 8, 9, 10, 15]))        # ➞ [5, 7, 8, 9, 10, 15]
print(setify([3, 3, 3, 2, 1]))             # ➞ [1, 2, 3]

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

In [10]:
def mean(num):
    # Convert the number to a string
    num_str = str(num)
    # Calculate the sum of all digits
    digit_sum = sum(int(digit) for digit in num_str)
    # Calculate the mean by dividing the sum by the number of digits
    mean_value = digit_sum // len(num_str)
    return mean_value

# Test cases
print(mean(42))      # ➞ 3
print(mean(12345))   # ➞ 3
print(mean(666))     # ➞ 6

3
3
6